* {

}
body {

}
/* Media Content Design */
iframe:hover, video:hover, img:hover{
  opacity: 0.7;
}
/* Table Design */
table {
  width: 70%;
  margin: auto;
  border: 1px solid black;
  border-collapse: collapse;
}
th, tr, td {
  border: 1px solid black;
  padding: 8px 15px;
  text-align: center;
}
th {
  background-color: #b3d4fc;
}
tr:nth-child(odd) {
  background-color: #cccccc;
}
tr:hover th, tr:hover td {
  background-color: indigo;
  color: white;
}
/* All Text Design */
h1, h2, h3 {
  text-align: center;
}
h2 {
  font-variant-caps: small-caps;
}
p, blockquote {
  text-align: justify;
}
blockquote::first-line {
  color: darkred;
}
blockquote::first-letter {
  color: darkgreen;
  font-size: xxx-large;
}
a {

}
/* Header Design */
.nav ol{
  background-color: aquamarine;
  list-style: none;
  padding: 10px;
  margin-left: 0;
  margin-right: 0;
  position: relative;
}
.nav li{
  display: inline-block;
  border: 1px solid mediumaquamarine;
  border-radius: 5px;
}
.nav li a{
  display: block;
  padding: 10px;
  text-decoration: none;
}
.nav li a:hover, .nav li.right a:hover{
  background-color: midnightblue;
  color: #b3d4fc;
  border-radius: 5px;
}
.nav li.right{
  float: right;
  margin-right: 5px;
}
/* Dropdown Menu*/
.nav ol ul {
  position: absolute;
  display: none;
  /*left: 0;*/
  top: 48px;
  width: 200px;
}
.nav ol ul li {
  background-color: aquamarine;
  display: block;
}
.nav ol li:hover ul{
  display: block;
  background-color: midnightblue;
  color: #b3d4fc;
}
.nav ol li:hover a{
  background-color: midnightblue;
  color: #b3d4fc;
}
.nav ol li:hover li a{
  background-color: midnightblue;
  color: #b3d4fc;
}
.nav ol ul li a:hover {
  background-color: midnightblue;
  color: #b3d4fc;
}

/* Form Design */
fieldset {
  border: 1px solid black;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 0;
  border-radius: 7px;
  background-color: papayawhip;
}
.form {
  width: 600px;
  border: 1px solid black;
  margin: auto;
  padding: 10px 20px;
  background-color: antiquewhite;
  border-radius: 10px;
  text-align: center;
}
.form p {
  text-align-last: center;
  color: #555555;
  padding: 0 20px;
}
.child-form {
  width: 100%;
}
.child-form label {
  display: block;
  font-weight: bold;
}
.child-form input[type="date"],
.child-form input[type="time"],
.child-form-1 input[type="radio"],
.child-form-1 input[type="checkbox"],
.child-form-1 input[type="color"],
.child-form-1 input[type="range"]
{
  cursor: pointer;
}
.child-form input, .child-form textarea, .child-form select {
  border: 1px solid black;
  border-radius: 7px;
  padding: 5px 2%;
  width: 95%;
}
.child-form select {
  cursor: pointer;
  width: 99%;
}
.child-form, .child-form-1 {
  text-align: left;
  margin-bottom: 10px;
}
.last-child {
  margin-top: 10px;
}
.last-child input[type="submit"], .last-child button[type="reset"] {
  background-color: darkviolet;
  color: white;
  padding: 5px 20px;
  border: 1px solid darkviolet;
  border-radius: 5px;
}
.last-child input[type="submit"] {
  margin-right: 10%;
}
.last-child input:hover {
  background-color: darkgreen;
  cursor: pointer;
}
.last-child button:hover {
  background-color: darkred;
  cursor: pointer;
}

