* {
    margin: 0;
    padding: 0;
}
html {
    /*height: 100%;*/
    height: 50%;
}
body {
    height: inherit;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

a {

}
/* Fixed Width */
.parent {
    background-color: #b3d4fc;
    margin: 10px;
    padding: 20px;
    width: 300px;
    border: 10px solid orange;
    float: left;
}
/* Float Width */
.parent {
    background-color: #b3d4fc;
    margin: 1%;
    padding: 2%;
    width: 25%;
    border: 0.5em solid orange;
    float: left;
}
