* {

}

html {

}

body {

}

h1, h2 {
    text-align: center;
}
h3 {
    text-decoration-line: underline;
}
p {

}
blockquote {
    font-weight: bold;
}
a {

}
.z-index {
    background-color: magenta;
    opacity: 0.8;
    width: 100%;
    height: 100px;
    /*bottom: 100px;*/
    top: 0;
    position: sticky;
    /*z-index: -1;*/
    z-index: 1;
}
div {
    background-color: darkred;
    /*opacity: 0.3;*/
    width: 400px;
    height: 400px;
}
.parent {
    position: relative;
    margin: auto;
    z-index: 4;
}

.child-1 {
    background-color: dodgerblue;
    width: 300px;
    height: 300px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    z-index: 3;
}
.child-2 {
    background-color: darkgoldenrod;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    z-index: 6;
}
.child-3 {
    background-color: lawngreen;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 7;
}

.last {
    background-color: #222222;
    opacity: 0.8;
    width: 100px;
    height: 100px;
    right: 20px;
    bottom: 20px;
    position: fixed;
}